#container {
    height: 100%;
    margin: 0;
    padding: 0;
}

#followButton{
    width: 49.111%;
    height: 10vw;
    margin: 0;
    padding: 0;
}
#leaderboardButton{
    width: 49.111%;
    height: 10vw;
    margin: 0;
    padding: 0;
}

#follow {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    transition: all .5s linear;
}

#leaderboard {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background:blue;
    float: right;
    transition: all .5s linear;
}

#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.controlPanel{
    position: fixed;
    height: 200px;
    width: inherit;
    bottom: 0px;
}
.infoBar{
    position: relative;
    width: inherit;
    height: 150px;
    background-color: rgb(238, 235, 235);
    border-width: 4px 0 4px 0;
    border-color: lightgray;
    border-style: solid;
}
.progressBar{
    position: relative;
    height: 50px;
    width: inherit;
    background-color:rgb(238, 235, 235);
}
.extendProgressBtn{
    
    float: right;
    width: 8vw;
    height: 8vw;
    margin: 0 4vw 4vw 0;
    position: relative;
    top: -4vw;
    /*
    border-radius: 50%;
    position: relative;
    left: 90%;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    bottom: 35px;
    font-size: 20px;
    background-color: darkolivegreen;
    color: white;
    border: 5px solid white;
    */
}