html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#buttons {
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    border: 0;
}

#followButton{
    width: 50vw;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 4vh;
    background-color: rgb(248, 248, 248);
}
#leaderboardButton{
    width: 50vw;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 4vh;
    float: right;
    background-color: rgb(248, 248, 248);
}

.btnIcon{
    height: 5vh;
}
#main {
    width: 100vw;
    height: 90vh;
}
#mainelements
{
    position: fixed;
    left: 0;
    transition: all .5s linear;
    border-spacing: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

#follow {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    float: left;
}

#map {
    height: 70%;
}


#controlPanel{
    position: fixed;
    height: 30%;
    width: inherit;
    bottom: 0px;
}
#infoBar{
    position: relative;
    width: inherit;
    height: 75%;
    background-color: rgb(238, 235, 235);
    border-width: 4px 0 4px 0;
    border-color: lightgray;
    border-style: solid;
}
#infoBar table{
    width: 100vw;
    padding: 0 10vh 0 10vh;
}
.caption{
    text-align: center;
}
.info{
    font-size: calc(3vw + 3vh + .5vmin);
    margin: 0;
    text-align: center;
}
#flag{
    width:10vw;
}

#progressBar{
    /*position: relative;*/
    height: 25%;
    width: inherit;
    background-color:rgb(238, 235, 235);
}
#extendProgressBtn{
    
    float: right;
    width: 8vw;
    height: 8vw;
    margin: 0 4vw 4vw 0;
    position: relative;
    top: -4vw;
    /*
    border-radius: 50%;
    position: relative;
    left: 90%;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    bottom: 35px;
    font-size: 20px;
    background-color: darkolivegreen;
    color: white;
    border: 5px solid white;
    */
}

#leaderboard {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background:blue;
    float: right;
}

.compatitor {
    display: grid;
          grid-template-areas:
            'photo place  name'
            'photo place  stat';
    height: 20vh;
    background-color:rgb(234, 234, 234);

}
.photo {
    grid-area: photo;
    width: 16vh;
    margin: 2vh 0 2vh 2vh;
    float: left;
}
.place {
    grid-area: place;
    margin: 2vh;
    line-height: 16vh;
    font-size: calc(4vw + 4vh + .5vmin);
    float: left;
}
.name {
    grid-area: name;
    font-size: calc(3vw + 3vh + .5vmin);
    height: 10vh;
    float: left;
    line-height: 10vh
}

.stat {
    grid-area: stat;
    font-size: calc(2vw + 1vh + .5vmin);
    height: 10vh;
    float: left;
}